<h1 class="text-center">Users & Avatars</h1>

<div class="message success center-flex" *ngIf="success"><span>{{success}}</span></div>
<div class="message error center-flex" *ngIf="error"><span>{{error}}</span></div>

<div id="search-div">
  Searching for: <input (keyup)="search($event)" type="text" placeholder="username">
</div>

<div id="users-holder">
  <div *ngIf="!displayedUsers.length">
    Nothing to be shown!
  </div>
  <div class="user-tabs" *ngFor="let user of displayedUsers">
    <div class="user-username" (click)="openModal(user.avatarUrl.S)">{{user.username.S}}</div>
    <button class="btn" (click)="delete(user.username.S)" [title]="'delete ' + user.username.S"><i class="fas fa-times"></i></button>
  </div>  
</div>  

<div class="modal" id="avatar-modal" (click)="closeModal()">
  <div class="modal-content center-flex">
    <img id="avatar-image" alt="User avatar comes here...">
  </div>
</div>

<app-add-users [users]="displayedUsers" (success)="updateSuccess($event)" (error)="updateError($event)">Loading...</app-add-users>
