input.register{
    display: block;
    width: 180px;
}

#registerer{
    margin-top: 50px;
}

#register-form{
    width: 70%;
    margin-top: 30px;
    padding: 20px;
    border: 5px solid #64b3f4;
    border-radius: 25px;
}

input.register{
    width: 100%;
}